@charset "utf-8"
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    color: #333;
}

.mobile {
    display: none;
}

header .inner {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto;
}

header .inner .hd_top {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    font-size: 14px;
}

header .inner .hd_top li {
    margin-left: 20px;
    position: relative;
}

header .inner .hd_top li::before {
    content: "";
    width: 2px;
    height: 11px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

header .inner .hd_top li:first-child::before {
    display: none;
}

header .inner .hd_bottom {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner .hd_bottom h1 {
    width: 180px;
    
}

header .inner .hd_bottom h1 a img {
    height: 40px;
}

header .inner .hd_bottom .pc {
    height: 100%;
}

header .inner .hd_bottom .pc .gnb {
    height: 100%;
}

header .inner .hd_bottom .pc .gnb .depth01 {
    height: 100%;
    line-height: 70px;

    display: inline-block;
    position: relative;
    padding: 0 30px;
}

header .inner .hd_bottom .pc .gnb .depth01 .depth02 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    top: 70px;
    width: 150px;
    background-color: whitesmoke;
    text-align: center;

    display: none;
}

header .inner .hd_bottom .pc .gnb .depth01:hover .depth02 {
    display: block;
    z-index: 1;
}

header .inner .hd_bottom .pc .gnb .depth01 .depth02 li {
    padding: 10px;
    line-height: 1.5;
}

header .inner .hd_bottom .pc .gnb .depth01 .depth02 li:nth-child(1):hover [
    bac
]