@charset "utf-8" ;
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareNeo-Variable';
}
body {
    color: #333;
}


.list {
    width: 1280px;
    margin: 100px auto;
    display: flex; /* 가로 정렬 후 */
    justify-content: space-between; /* 사이 간격 띄우기 */
    /* display:flex - justify~~ 한쌍임 */
}

.list > div { /* ">" 직계자식만 선택가능 list바로 아래있는 div들 (item01,02,03을 뜻함) */
    width: 400px;
    border: 2px solid #000;
}

.list > div figure {
    height: 600px;
}

.list > div figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 첫번째 리스트 꾸밈 __ 이미지 위로 글 나타나기*/
.list .item01 { /* 이미지 위로 글 올려줄거임 */
    position: relative;
    height: 600px;
    overflow: hidden; /* 1-3. 영역벗어난 자식들은 안 보이도록 해줌 */
}

.list .item01 div {
    transition: 0.7s; /* 1-2. 호버했을때만 아니라 평소에도 적용시켜야 부드럽게 설정됨 */
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: #0c0b0b93;
    padding: 30px;
    color: aliceblue;
}

.list .item01:hover div { /* 1-1. 호버해주고 */
    bottom: 0;
    transition: 0.7s; /* 시간설정 */
}

/* 세번째 리스트 꾸밈 */
.list .item03 {
    position: relative;
    height: 600px;
}

.list .item03 div {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #e0d3d369;
    color: rgb(7, 7, 7);
    padding: 100px 30px;
    box-sizing: border-box; /* 설정한 사이즈만큼 내부영역이 잡히도록 함 */
    
    opacity: 0; /* 투명도 조절, 눈에만 안 보이고 자리는 유지(존재함) */
    /* display: none; */ /* 2-1.존재자체 없애버리기, 여기는 트랜지션 안 먹힘 */
}

.list .item03:hover div { 
    display: block; /* 2-2. 마우스 갖다대면 나타남 */
    opacity: 1; /* opacity 는 트랜지션 설정됨!! */
    transition: 1s;
}

/* 두번째 사진 꾸미기 */
.list .item02 {
    height: 600px;
    position: relative;
    overflow: hidden; /* 밑으로 튀어나간 div 들 안 보이게! */
}

.list .item02 div {
    position: absolute;
    left: 0;
    bottom: -145px;
    background-color: #474141de;
    color: aliceblue;
    padding: 30px;
    transition: 1s;
}

.list .item02 div h4 {
    font-size: 20px;
    margin-bottom: 30px;
}

.list .item02:hover div {
    bottom: 0;
    background-color: #ffffffc4;
    color: #000;
}

